%form(action = '/' method = 'post' enctype = 'multipart/form-data')
  %h3 
    1. Gene Expression matrix
  %input{:type=>"file",:name=>"GE"}
  %h3
    2. MiRNAs Expression matrix
  %input{:type=>"file",:name=>"ME"}
  %h3  
    3. Genes names
  %input{:type=>"file",:name=>"genes"}
  %h3      
    4. MiRNAs names
  %input{:type=>"file",:name=>"mirnas"}
  %h3
    5. Samples names
  %input{:type=>"file",:name=>"samples"}
  %h3
    6. Gene - MiRNAs putative targets
  #rightside
    %input{:type=>"checkbox", :name=>"microrna", :value => 1, :checked => true} microrna
    %br
    - %w(mirbase mirecords tarbase hoctar).each do |p|
      %input{:type=>"checkbox", :name=>"#{p}", :value => 1, :checked => false}
        =p
      %br
  #leftside
    - %w(DIANAmicroT  I_mirandaXL_pictar4way_targetscans  I_pictar4way_targetscans  Union  microrna  mirbase  pictar4way  pictar5way  targetscans).each do |p|
      %input{:type=>"checkbox", :name=>"mirgen_#{p}", :value => 1, :checked => false}
        mirgen: #{p}
        %br
  %h3
    7. Algorithm
  %select{:id => "algorithm", :name => "algorithm"}
    - %w(TaLasso Correlation GenMir SimpleGenMir).each do |p|
      %option{:name => p, :value => p}=p
  %h3 8. Name your job (optional)
  %input(name='name')
  %p
  %input(type='submit')

