!!!
%html
  %head
    %title== TaLasso: #{@title}
    %script{:src => '/Jmol/Jmol.js', :type => 'text/javascript'}
    %script{:src => '/js/jquery.js', :type => 'text/javascript'}
    %script{:src => '/js/aplication.js', :type => 'text/javascript'}
    %link{:rel => "stylesheet", :media => "all", :href => "/aplication.css", :type => "text/css"}
  %body
    #layout
      #header
        #logo
          %h1 TaLasso
        %hr.noscreen
        #nav.box
          %ul
            %li
              %a(href='/') Main
            %li
              %a(href='/help') Help
            %li
              %a(href='/documentation') Web Service Documentation
          %hr.noscreen
      %hr
      #container.box
        #obsah{:class => "content box"}
          %header
          .entry
            %content
              = yield
    #footer
      %p
        TaLasso Site
