%center
  %h3 Validation of results (mirecords) 
  %img{:src => "/results/#{@job}_mirecords_pvalues.png"}
  %h3 Hits distribution map (mirecords)
  %img{:src => "/results/#{@job}_mirecords_hits.png"}
