%center
  %h3 Validation of results (tarbase) 
  %img{:src => "/results/#{@job}_tarbase_pvalues.png", :width => "750px"}
  %h3 Hits distribution map (tarbase)
  %img{:src => "/results/#{@job}_tarbase_hits.png", :width => "750px"}
